/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 html {
    min-height: 100%;
}

body {
    font-family: 'Catamaran', sans-serif;
    background-color: #26262B;
    background: linear-gradient(to bottom, #faaca8 0%, #6c7fec 100%);
    /* background-color: #faaca8; */
    /* background-size: cover; */
    overflow: auto;
    overflow-x: hidden;
  }
  
main {
/* display: flex; */
/* height: 100vh; */
}

a {
    color: #ffa7a7;
    text-decoration: none;
    cursor: pointer;
}

 h2 {
    font-size: 18px;
 }

 span {
    margin-top: 12px;
 }


 ul > li {
     margin: 0px 8px 0px 0px;
 }

 button {
    padding: 5px 16px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
}

 