.channel-list-container {
    border-top: 1px solid rgba(142,146,151,0.1);
    padding-left: 10px;
    padding-right: 10px;
}

.channel-options > h1, .fas.fa-fish {
    color: #b9bbbe;
    font-size: 11px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 20px 0px;
}

.channel-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel-options > .fas.fa-fish:hover {
    color: #4beaff;
    cursor: pointer;
    font-size: 16px;
}


.channel-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b9bbbe;
    height: 30px;
    padding: 5px;
}

.fas.fa-star {
    visibility: hidden;
}

.channel-item-info:hover {
    background: #bdc7ffb9;
    border-radius: 3px;
    color: white;
}

.channel-item-info:hover .fas.fa-star {visibility: visible;}

.channel-name-active .channel-item-info {
    background: #98a8ffb9;
    border-radius: 3px;
    color: white;
}