

.channel-form-container {
    background-image: linear-gradient(
        to bottom, #faaca8 0%, #6c7fec 100%
    );
    width: 450px;
    /* height: 210px; */
    box-sizing: border-box;
    /* padding-top: 15px; */
    padding: 15px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    animation-name: flipInX;
    animation-duration: .75s;
    
}
@keyframes flipInX {
    from {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  
    60% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }
  

.channel-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 0px 40px 0; */
}

.channel-title-text {
    display: flex;
    align-content: center;
}

.channel-title-text p {
    margin-left: 5px;
}
.channel-form-header {
  color: white;
  align-self: center;
}

.channel-form-input{
    margin-top: 20px;
}

.channel-form-name {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.channel-form-name input {
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    margin-top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 16px;
    font-weight: lighter;
    width: 100%;
    border-style: inset;
}

.channel-form button {
    box-sizing: border-box;
    color: white;
    background-color: #988DD7;
    /* border: 1px solid white; */
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 24px;
    font-size: 16px;
    height: 44px;
}

.channel-form .delete-channel-button {
    background-color: #ff6259;
}

.channel-errors {
    color: rebeccapurple;
    font-weight: bolder;
    size: 15px;
    animation: shake .8s 2;
}

.channel-name-text {
    margin-left: 5px;
}

.channel-form-buttons {
    display: flex;
    justify-content: space-between;
}

.channel-form-buttons > button {
    width: 40%;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }

}