.cat-container {
    background-repeat: no-repeat;
    // background-position: center;
    background-size: contain;
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: relative;
}

.cat-container.create-contain {
    background-image: image_url('cat_container.png');
}

.cat-container.join-contain {
    background-image: image_url('cat_container_join.png');
}


.cat-container > h2 {
    font-size: 22px;
}

.cat-container > p {
    // margin-top: 15px;
    margin: 130px 10px 0px;
    font-size: 18px;
    font-weight: bolder;
    line-height: 20px;
    color: #9d93a3;
    text-align: center;
}

.cweate {
    color: #6c7fec;
}

.join {
    color: #faaca8;
}

.cat-container-holder {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    text-align: center;
    margin-bottom: 25px;
}

.choose-opt-button {
    box-sizing: border-box;
    color: white;
    // border: 1px solid rgba(0,0,0,0.3);
    height: 44px;
    margin-top: 15px;
}

.choose-opt-button.cr {
    background-color: #6c7fec;
    box-shadow: 0 9px #5364c9
}

.choose-opt-button.cr:active {
    box-shadow: 0 5px #5364c9;
    transform: translateY(4px);
}

.cweate.tooltiptext, .join.tooltiptext {
    background-color: #00000028;
}

.cweate.tooltiptext::after {
    border-color: #00000028 transparent transparent transparent;
}

.join.tooltiptext::after {
    border-color: #00000028 transparent transparent transparent;
}

.choose-opt-button.jo {
    background-color: #faaca8;
    box-shadow: 0 9px #e08681;
}


.choose-opt-button.jo:active {
    box-shadow: 0 5px #e08681;
    transform: translateY(4px);
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    // border: 1px solid rgba(0,0,0,0.3);
    align-self: center;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    
  }