.invite-friends-form {
    background: linear-gradient(to bottom, #faaca8 0%, #6c7fec 100%);
    width: 450px;
    box-sizing: border-box;
    padding-top: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative
}

.invite-friends-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px 0;
    text-align: left;
    animation-name: fadeInUp;
    animation-duration: 0.9s;
}

@keyframes fadeInUp {
from {
    opacity: 0;
    transform: translate3d(0%, 25%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.user-edit-container {
    animation: fadeInUp;
    animation-duration: .5s;
}

 
.invite-friends-container > img {
    height: 200px;
    margin-top: 10px;
}

.friends-sparkle {
    position: absolute;
    left: 300px;
    top: -50px;
}

.invite-friends-container > h1 {
    color: white;
}

/* .invite-friends-container p {
    color: #9d93a3;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
} */

.invite-token {
    box-sizing: border-box;
    padding: 15px;
    /* margin-top: 20px; */
    height: 50px;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 20px;
    align-self: center;
    font-weight: lighter;
    border-style: inset;
    text-align: center;
    width: 69%;
    cursor: pointer;
}

.invite-token-container {
    display: flex;
    justify-content: center;
}

.invite-token-container:hover .tooltiparrow {
    display: block;
    margin-left: 0px;
    margin-top: -20px;
}

.invite-flavor {
    align-self: center;
    margin-top: 10px;
    color: white;
}