.btn-login {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    border: 2px solid rgba(255,255,255,0.8);
   padding: 5px 17px 7px;
   border-radius: 20px;
   line-height: 24px;
}

.btn-login:hover {
    color:white;
    border: 2px solid white;
}

nav.login-signup {
    display: flex;
    width: 96%;
    height: 52px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: white;
    position: relative;
}

.login-signup ul {
    display: flex;
    align-items: center;
}

.fab {
    color: rgba(255,255,255,0.8);
    font-size: 35px;
    margin: 5px
}

.nav-links .fab:hover {
    color: white;
}