.btn-login {
    color: white;
    text-decoration: none;
    border: 2px solid hsla(0,0%,100%,.8);
   padding: 5px 17px 7px;
   border-radius: 20px;
   line-height: 24px;
}

nav.login-sigup {
    display: flex;
    width: 96%;
    height: 52px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: white;
    position: relative;
}

.login-sigup ul {
    display: flex;
    align-items: center;
}

.fab {
    color: white;
    font-size: 35px;
    margin: 5px
}