.server-form {
    background-color: white;
    width: 540px;
    height: 390px;
    box-sizing: border-box;
    padding-top: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    // background-image: linear-gradient(
    //     to bottom, #faaca8 0%, #6c7fec 100%
    // )
    animation: form-slide 0.4s ease-out 0s 1 forwards;
  }

  @keyframes form-slide {
      from { left: -100px}
      to { left: 0px }
  }

.server-form.choose {
background-image: linear-gradient(
    to bottom, #faaca8 0%, #6c7fec 100%
);
}

.server-form h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 6px;
    font-weight: bold;
}

.invite-string {
    margin: 35px;
    color: #6c7fec;
}

.server-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 40px 0;
    text-align: center;
}

.server-form-leave {
    background-color: white;
    width: 450px;
    // height: 200px;
    box-sizing: border-box;
    padding-top: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    animation: form-slide 0.4s ease-out 0s 1 forwards;
}

.server-form-container > h1 {
    color: #6c7fec;
}

.server-form-container > form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.server-form-text {
    text-align: center;
    font-size: 18px;
    color: #9d93a3;
    padding: 10px 0px;
}

.server-form-footer {
    padding: 18px 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.server-form-inner {
    display: flex;
    justify-content: space-evenly;
    margin-top: 14px;
}

.server-form-inner > form {
    display: flex;
    flex-direction: column;
}

.server-name-form {
    font-size: 15px;
    color: #6c7fec;
    font-weight: bold;
}

.server-name-form-outer input {
    padding: 10px 4px;
    margin-top: 12px;
    width: 175px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
    color: initial;
}

.file-upload {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    color: white;
    background-color: #6c7fec;
    text-align: center;
    line-height: 120px;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    
}

.file-upload > input {
    display: none;
}

.Create-button {
    background-color: #6c7fec;
    color: white;
    height: 40px;
}

.Create-button:hover {
    background-color: #5364c9;
}

.Edit-button {
    background-color: #80da56;
    color: white;
    height: 40px;
}

.Edit-button:hover {
    background-color: #6ccc40;
}

.far.fa-hand-point-left {
    font-size: 17px;
}

.back-button {
    color: #9d93a3
}

.back-button.pink:hover {
    border-bottom: 1px solid #faaca8;
}

.back-button:hover {
    border-bottom: 1px solid #6c7fec;
}

.remove-button {
    background-color: #ff6259;
    color: white;
    height: 40px;
}

.server-form .join-header {
    color: #faaca8;
}

.join-button {
    background-color: #faaca8;
    color: white;
    height: 40px;
}

.join-button:hover {
    background-color: #e08681;
}

.join-text {
    display: flex;
    align-items: stretch;
}

.join-text input {
    padding: 10px 4px;
    margin-top: 12px;
    border-bottom: 1px solid #faaca8;
    font-size: 16px;
    width: 300px;
    text-align: center;
}

.server-form-container > .leave-header {
    color: #ff6259;
}

.leave-button {
    background-color: #ff6259;
    color: white;
    height: 40px;
    align-self: center;
    margin: 15px;
}

.server-form-container > .edit-header {
    color: #80da56;
}

.invite-text {
    font-size: 11px;
    color: #99aab5;
    margin-top: 5px;
}

.preview-image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}

